*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* regola di reset */

/* inizio header */
header{
    width: 100%;
    padding: 10px;
    background-image: url(../img/jumbo.png);
}

.container{
    display: flex;
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    font-family: 'Whitney', sans-serif;
    font-family: 'Whitney Semibold', sans-serif;
    font-family: 'Whitney Book', sans-serif;
    font-family: 'Whitney Light', sans-serif;

}


header .container{
    align-items: center;
}



header .container div:first-child, header .container div:last-child{
    flex-grow: 0;
    padding: 10px;
}

header .container div:nth-child(2){
    flex-grow: 5;
    padding: 5px;
    text-align: center;
    font-family: 'Whitney Semibold', sans-serif;


}

header .container div:nth-child(2) ul{
    list-style-type: none;
}

ul li{
    display: inline-block;
    padding-right: 40px;
}

ul li a{
    text-decoration: none;
    color: white;
}

header .container div:last-child{
    text-align: right;
}

header .container div:last-child{
    width: 70px;
    height: 40px;
    border-radius: 18px;

    background-color: white;
}

header .container div:last-child a{
    text-decoration: none;
    color: black;
    font-family: 'Whitney Semibold', sans-serif;

}



/* fine header */

/* inizio main */

main section{
    display: flex;
    justify-content: center;

    width: 100%;
    padding: 30px 0px;
   
}

/* inizio prima section */

main section:first-child{
    height: 500px; 
    border-bottom: 2px solid #77a4f3;
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

.purple{
    width: 650px;
    padding-top: 70px;
    text-align: center;
    color: white;
    font-size: 18px;
}

.purple h1{
    margin-bottom: 35px;
    font-size: 50px;
    font-family: 'Whitney', sans-serif;

}

.purple p{
    margin-bottom: 20px;
    line-height: 25px;
    font-family: 'Whitney', sans-serif;


    
}

main section .purple button{
    height: 50px;
    border-radius: 24px;
    border: none;
    font-family: 'Whitney', sans-serif;
    font-size: 18px;
    margin: 0px 15px;

}

main section .purple #download{
    width: 180px;
    padding: 8px 10px;
    border-color: white;
    border-radius: 24px;
    background-color: white;

}

main section .purple #download span{
    padding-right: 10px;
    font-weight: bold;
   

}

main section .purple #open{
    width: 250px;
    padding: 10px 10px;
    background-color: #23272A;
    color: white;
}

/* fine prima section */

/* inizio prima section bg-white */

main .container{
    height: 500px;
}

.bg-white{
    background-color: white;
}

main .container .img{
    width: 65%;
    background-size: contain;
    background-repeat: no-repeat;
}

main .container .text{
    width: 35%;
    text-align: left;
    font-family: 'Whitney', sans-serif;
}

main .bg-white .container .item1{
    background-image: url(../img/item1.svg);
}

main .container .item1-text{
    padding-top: 15px;
    padding-right: 90px;

}

h2{
    margin-bottom: 15px;
    font-size: 45px;
}

p{
    line-height: 25px;
    font-size: 20px;
}

/* fine prima section bg-white */

/* inizio prima section bg-grey */

main .bg-grey{
    background-color: #D3D3D3;
}

main .bg-grey .container .item2{
    background-image: url(../img/item2.svg);
}

main .bg-grey .container .item2-text{
    padding-top: 35px;
    padding-right: 40px;
}

/* fine prima section bg-grey */

/* inizio seconda section bg-white */

main .bg-white .container .item3{
    background-image: url(../img/item3.svg);
}

main .bg-white .container .item3-text{
    padding-top: 15px;
    padding-right: 90px;
}


/* fine seconda section bg-white */

/* inizio seconda section bg-grey */

.green{
    max-width: 1200px;
    width: 100%;
    padding: 100px;
    font-family: 'Whitney', sans-serif;
    text-align: center;
}









/* fine seconda section bg-grey */

/* inizio section bg-black */


main .bg-black{
    padding-top: 10px;
    padding-bottom: 20px;
    border-bottom: 2px solid lightgray;
    background-color: #23272A;
}


main .bg-black .container .pink{
    flex-grow: 2;
    border: 1px dashed white;
    background-color: #F08080;
}

main .bg-black .container .aqua{
    border: 1px dashed white;
    flex-grow: 1;
    background-color: #20B2AA;

}
/* fine section bg-black */


/* fine main */

/* inizio footer */

footer{
    display: flex;
    justify-content: center;
    padding-top: 20px;

    background-color: #23272A;
}

footer .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;

    background-color: #7FFFD4;
}

footer .container div{
    padding: 5px;

    background-color: #F8AAB9;
}
/* fine footer */


