*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* regola di reset */

/* inizio header */
header{
    width: 100%;
    padding: 10px;
    background-image: url(../img/jumbo.png);
}

.container{
    display: flex;
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    font-family: 'Whitney', sans-serif;
    font-family: 'Whitney Semibold', sans-serif;
    font-family: 'Whitney Book', sans-serif;
    font-family: 'Whitney Light', sans-serif;

}


header .container{
    align-items: center;
}



header .container div:first-child, header .container div:last-child{
    flex-grow: 0;
    padding: 10px;
}

header .container div:nth-child(2){
    flex-grow: 5;
    padding: 5px;
    text-align: center;
    font-family: 'Whitney Semibold', sans-serif;


}

header .container div:nth-child(2) ul{
    list-style-type: none;
}

ul li{
    display: inline-block;
    padding-right: 40px;
}

ul li a{
    text-decoration: none;
    color: white;
}

header .container div:last-child{
    text-align: right;
}

header .container div:last-child{
    width: 70px;
    height: 40px;
    border-radius: 18px;

    background-color: white;
}

header .container div:last-child a{
    text-decoration: none;
    color: black;
    font-family: 'Whitney Semibold', sans-serif;

}



/* fine header */

/* inizio main */

main section{
    display: flex;
    justify-content: center;

    width: 100%;
    padding: 30px 0px;
   
}

/* inizio prima section */

main section:first-child{
    height: 600px; 
    border-bottom: 2px solid #77a4f3;
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

.purple{
    width: 820px;
    padding-top: 60px;
    text-align: center;
    color: white;
    font-size: 23px;
}

.purple h1{
    margin-bottom: 35px;
    font-size: 70px;
    font-family: 'Whitney', sans-serif;

}

.purple p{
    margin-bottom: 20px;
    line-height: 40px;
    font-family: 'Whitney', sans-serif;


    
}

main section .purple button{
    height: 50px;
    padding-bottom: 8px;
    border-radius: 24px;
    font-family: 'Whitney', sans-serif;
    font-size: 23px;
    margin: 0px 15px;

}

main section .purple #download{
    width: 250px;
    border-color: white;
    border-radius: 24px;
    background-color: white;

}

main section .purple #download span{
    padding-right: 10px;
    font-size: 23px;
    font-weight: bold;
   

}

main section .purple #open{
    width: 350px;
    padding-left: 5px;
    padding-right: 5px;
    border-color: #23272A;
    background-color: #23272A;
    color: white;
}

/* fine prima section */

/* inizio section bg-white */

.bg-white{
    background-color: white;
}

main .container{
    height: 350px;
}

main .container .lightblue{
    flex-grow: 3;
    background-color: #1E90FF;

}

main .container .lightpink{
    flex-grow: 2;
    background-color: #FFC0CB;
}

/* fine section bg-white */

/* inizio section bg-grey */

main .bg-grey{
    background-color: #D3D3D3;
}

.green{
    max-width: 1000px;
    width: 100%;
    height: 800px;
    background-color: #228B22;
}

/* fine section bg-grey */

/* inizio section bg-black */


main .bg-black{
    padding-top: 10px;
    padding-bottom: 20px;
    border-bottom: 2px solid lightgray;
    background-color: #23272A;
}


main .bg-black .container .pink{
    flex-grow: 2;
    border: 1px dashed white;
    background-color: #F08080;
}

main .bg-black .container .aqua{
    border: 1px dashed white;
    flex-grow: 1;
    background-color: #20B2AA;

}
/* fine section bg-black */


/* fine main */

/* inizio footer */

footer{
    display: flex;
    justify-content: center;
    padding-top: 20px;

    background-color: #23272A;
}

footer .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;

    background-color: #7FFFD4;
}

footer .container div{
    padding: 5px;

    background-color: #F8AAB9;
}
/* fine footer */


